.footer-container{
    background-color:black;
    /* height:20%; */
    width:100%;
    display: flex;
    /* margin-top: 50%; */
    color:white;
    margin-top: 40%;
    
}
.About-footer h1{
    font-size: 100%;
    font-family: cursive;
    margin-left: 20%;
    color: white;
}
.booking-tour{
    margin-left: 3%;
    margin-top: 2%;
    /* background-color: chartreuse; */
    width: 30%;
}
.booking-tour h1{
    color: white;
    font-size: 20px;
}
.booking-tour h2{
    color: white;
    font-size: 15px;
}
.booking-tour h3{
    color: white;
    font-size: 15px;
}
.booking-tour h4{
    color: white;
    font-size: 15px;
}

.quick-access{
    margin-left: 2%;
    /* background-color: darkblue; */
    width: 30%;
    margin-top: 2%;
}
.quick-access h1{
    color:white;
    font-size: 20px;
}
.quick-access h2{
    color:white;
    font-size: 15px;
}
.quick-access h3{
    color:white;
    font-size: 15px;
}
.quick-access h4{
    color:white;
    font-size: 15px;
}
.quick-access h5{
    color:white;
    font-size: 15px;
}
.parks h1{
    font-size: 100%;
    font-family: cursive;
    margin-left: 20%;
    margin-top: 20%;
}
.line{
    /* background-color: darkmagenta; */
    width: 30%;
    margin-top: 2%;
    display: flex;
}
.line1{
    color: white;
    margin-left: 3%;
    font-size: 20px;
}
.line2{
    color: white;
    margin-left: 3%;
    font-size: 20px;
}
.line3{
    color: white;
    margin-left: 3%;
    font-size: 20px;
}
.line4{
    color: white;
    margin-left: 3%;
    font-size: 20px;
}


.footer-container img{
    border-radius:30%;
margin-left: 5%;
margin-top: 10%;
width:8%;
height:20%
}
.backword {
display: flex;
}
.backword p1{
    font-size: 10px;
    font-family: sans-serif;
    margin-top:80% ;
    margin-left: 30px;
}
.backword p3{
    font-size: 10px;
    font-family: sans-serif;
    margin-top:80% ;
    margin-left: 30px;  
}
.backword p4{
    font-size: 10px;
    font-family: sans-serif;
    margin-top:80% ;
    margin-left: 30px;
}