.header{
   height:15vh;
   width:100%;
   background:black;
    /* padding:10px 35px 10px 35px;  */
/* display: flex; */
/* text-align: center; */
box-shadow: 0px 1px 1px olivedrab;
margin-bottom: 30px;
}
 

.logocontainer img{ 
     height: 70px; 
     float: left;
    margin-left: 20px; 
     margin-top: 10px; 
     width:100px; 
    
 } 
.topnav a{
padding:10px;
font-size:20px;
margin-top: 20px;
/* background-color: crimson; */
color:white;
/* background-color: olivedrab; */
margin-right: 30px;
/* display: flex; */
float:right; 
/* border-end-start-radius: 20px;  */

}
 .topnav a:hover{
     background: black;
       color:white; 


 }