*{ padding:0;
    margin: 0;
}

.home-container{
     background:rgba(10, 61, 10, 0.822); 
    min-height:80vh;
    width:100%;
    background-image: url(../assets/IMAGE/image7.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.homebody{
    height:100%;
    background:rgba(0, 0, 0, 0.315);
    /* background-size: cover; */  
    


}
.home-bg h1{

    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    color: white;



}
.qoute-div{
     width:35%;
    height:50vh;
     background:rgba(0, 0, 0, 0.842); 
    float: right;
    box-shadow: 1px 3px 8px 5px rgba(172, 255, 47, 0.692);
    margin-right: 5vh; 
    margin-bottom: 40vh;
    /* border-bottom-left-radius: 20%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 20%; */
    /* color: white; */
   
}
.qoute-div h2{
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.qoute-div p{
margin-top:15px;
font-size:20px;
color: white;
padding-left: 20px;
}
button{ 
    color: white;
    border-radius: 10px;
   text-align: center;
  /* padding-top: 45%;  */
  width: 200px;
height: 40px;
  font-size: 20px;
  margin-left: 50%;
  margin-top: 35%;
  
  
  


  
}  
button a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}
.Signin-form{
    width:40%;
    height:70vh;
    background:rgba(106, 142, 35, 0.699);
    margin: auto;
    margin-top: 30px;
    padding: 5vh;
    text-align: center;
    font-weight: bolder;
    /* padding-left: 20%; */
    
}
.Signin-form input{
    padding:10px;
    margin:5px;
    width:65%;
    float: right;   
    font-weight: bolder; 
}
.signin-form label{
    padding:10px;
    margin-top: 5px;
    float: left;
    font-size: 20px;
    width:30%;
    text-align: left;
    font-weight: bolder;
}
.Tours-div{
    background-color: olivedrab;
    height:230vh;
    width:100%;
    padding-top: 100px;
}
.Tourcard-div{
    /* height:40vh; */
    width: 70%;
    margin-left: 100px;
    /* margin-top: 80px; */
    padding:40px;
    background-color: black;

}
.Tourcard-1 h1{
    display: flex;
}
.Tourcard-1{
    width:90%;
    height:40vh;
    background-color: whitesmoke;
    margin-left: 50px;
    display: flex;
    border-radius: 40px;
    /* font-family: cursive; */
    /* padding:20px; */

}
 .Tourcard-1 img{
    /* height:30vh; */
    width:40%;
}  
.Tourcard-2{
font-size: 20px;
font-family: cursive;
font-weight: bold;
padding-left: 20px;

}
.Tourcard-3{
    font-size:13px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
}

.Tourcard-4{
    font-family: cursive;
    padding-left: 20px;
    font-weight: bold;
}
.Tourcard-5{
    font-family: cursive;
    padding-left: 20px;
    font-weight: bold;
}

.Tourcard-6{
    margin-left: 70%;
    
}
.singletour-container{
    width:90%;
    /* height:10vh; */
    background-color:olivedrab;
    /* margin-left: 50px; */
    /* display: flex; */
    border-radius: 40px;
    text-align: center;
    margin-top: -50px;

}
.singletour-container p{
   margin-left: 20px;
   color:black;
   /* padding-top: 10px; */
   font-weight: bold;
}
.singletour-container img{
    margin-left: 20%;
    margin-top: 20px;
}
 .singletour-container-title{

font-weight: bolder;
padding:10px;
font-size:x-large;

} 
.garelly-container{
    background-color:black;
}
 .contact-div{
    
    height: 90vh;
    width:80%;
    margin-top: 40px;
    margin-left: 120px;
    font-size: large;
    text-align: center; 
    font-family: cursive;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.548);
    
}
.contact-div h1{
    color: white;
}
.contact-div-1 h2{
    color: white;
}
.contact-div-1 h3{
    color:white;
}
.contact-div-1 h4{
    color: white;
}
.contact-div-1 h5{
    color: white;
}
.button p{
    color: white;
}

.line3{
    color: white;
}